h1{
    background-color: #161616;
    color: #FEFFFD;
    width: 330px;
    padding: 5px;
    text-align: center;
}
input[type="button"]{
    background-color: #161616;
    color: #FEFFFD;
}
input[type="reset"]{
    background-color: #161616;
    color: #FEFFFD;
}
